@import url("@/variable.less");
.input-component {
  border-radius: 10px;
  border-color: @greyColor !important;
  &:hover,
  &:focus {
    box-shadow: none !important;
    border-color: @themeColor !important;
  }
  &:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
  }
}
.ant-input {
  border-radius: 10px !important;
  font-size: 15px;
  font-weight: 600;
}

.input-header {
  width: 350px;
  border-radius: 13px !important;
}

.input-comment{
  border-radius: 10px;
}