@import url("@/variable.less");
.component-input-container {
  padding: 50px;
  .ant-input {
    border-color: @greyColor;
    &:hover,
    &:focus {
      box-shadow: none;
      border-color: @themeColor !important;
    }
  }
}
