.cpn-page-content-container {
  padding: 5px 20px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  line-height: 25px;
  .title-pct {
    margin-top: 10px;
    color: rgb(66, 1, 1);
    font-style: italic;
    font-size: 23px !important;
  }
  .date-submitted-pct {
    color: rgb(88, 87, 87);
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .content {
    min-height: 500px;
    font-size: 15px;
    p {
      text-align: justify;
    }
    img {
      object-fit: contain;
      max-width: 100%;
    }
  }
  .right-content {
    visibility: visible;
    transition: 0.1s;
    position: fixed;
    top: 120px;
    right: 10px;
    width: 370px;
    height: auto;
  }
}
html {
  scroll-behavior: smooth;
}
