@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

.layout-container {
  font-family: "Roboto";
  position: relative;
  background: #f0efef;
  .body-padding {
    padding: 5px 400px 5px 270px;
  }
}
