.homepage-container {
  .carousel-container {
    .carousel-img {
      height: 500px;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }
  }
  .homepage-content {
    padding: 10px 250px;
  }
}
